###Ayanami0's config_geo-lite###
mixed-port: 7890
redir-port: 7891
tproxy-port: 1536
ipv6: false
mode: Rule
allow-lan: true
bind-address: "*"
disable-keep-alive: true
unified-delay: true
tcp-concurrent: true
log-level: silent
find-process-mode: strict
global-client-fingerprint: random

geodata-mode: true
geodata-loader: memconservative
geo-auto-update: true
geo-update-interval: 48
geox-url:
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.dat"
  geosite: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat"
  mmdb: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip.metadb"

external-controller: 127.0.0.1:9090
secret: "123456"
external-ui: WebUI/Zashboard
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist-no-fonts.zip"
external-controller-cors:
  allow-origins:
    - "*"
  allow-private-network: true

profile:
  store-selected: true
  store-fake-ip: true
# —————————

p: &p
  type: http
  interval: 86400
  health-check:
    enable: true
    url: https://cp.cloudflare.com
    interval: 300
  proxy: DIRECT
  header:
      User-Agent:
        - "clash-verge/v2.2.3"
        - "ClashMetaForAndroid/2.11.2.Meta"
        - "ClashforWindows/0.19.23"
        - "clash.meta"
        - "mihomo"

proxy-providers:
  α:
    <<: *p
    override:
      additional-prefix: "α-"
    path: ./proxies/α.yaml
    url: ##"订阅链接"##

  β:
    <<: *p
    override:
      additional-prefix: "β-"
    path: ./proxies/β.yaml
    url: ##"订阅链接"##

  γ:
    <<: *p
    override:
      additional-prefix: "γ-"
    path: ./proxies/γ.yaml
    url: ##"订阅链接"##

  δ:
    <<: *p
    override:
      additional-prefix: "δ-"
    path: ./proxies/δ.yaml
    url: ##"订阅链接"##
# —————————

sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  override-destination: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  force-domain:
    - "+.v2ex.com"
  skip-domain:
    - "Mijia Cloud"
    - "+.push.apple.com"
# —————————

tun:
  enable: false
  device: Meta
  stack: mixed
  dns-hijack:
    - any:53
    - tcp://any:53
  udp-timeout: 300
  auto-route: true
  strict-route: true
  auto-redirect: false
  auto-detect-interface: true
# —————————

dns:
  enable: true
  ipv6: false
  listen: 0.0.0.0:1053
  prefer-h3: false     # 如果DNS服务器支持DoH3会优先使用h3，默认关
  respect-rules: true  # 让连接DNS服务器时能够遵循规则
  cache-algorithm: arc # 使用性能更优的 ARC 缓存算法
  cache-size: 2048     # 限制缓存大小，避免占用过多内存
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - "*.lan"
    - "*.local"
    - "time.*.com"
    - "ntp.*.com"
    - "GEOSITE:private"
    - "GEOSITE:googlefcm"
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
    - 223.6.6.6
  direct-nameserver:
    - https://dns.alidns.com/dns-query
    - https://doh.pub/dns-query
  proxy-server-nameserver:
    - https://dns.alidns.com/dns-query
    - https://doh.pub/dns-query
  nameserver:
    - https://dns.google/dns-query
    - https://cloudflare-dns.com/dns-query
  nameserver-policy:
    "GEOSIT:cn,microsoft@cn":
       - https://dns.alidns.com/dns-query
       - https://doh.pub/dns-query
# —————————

proxy-groups:
  - name: PROXY
    icon: "https://cdn.jsdelivr.net/gh/GitMetaio/Surfing@rm/Home/icon/All.svg"
    type: select
    proxies:
      - DIRECT
    include-all: true
# —————————

rules:
  - GEOSITE,googlefcm,DIRECT
  - GEOSITE,category-ads-all,REJECT
  - GEOSITE,cn,DIRECT
  - GEOSITE,private,DIRECT
  - GEOSITE,category-games,DIRECT
  - GEOSITE,microsoft@cn,DIRECT
  - GEOSITE,geolocation-!cn,PROXY

  - GEOIP,telegram,PROXY,no-resolve
  - GEOIP,cn,DIRECT
  - GEOIP,private,DIRECT,no-resolve

  - MATCH,PROXY
# —————————